@model IEnumerable<Local_SearchEngine.Models.SearchModel> // Replace with your actual model's namespace and class
@* The rest of your view's code follows here *@

<h2>Search Results</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Title)
        </li>
    }
</ul>


