<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EO.WebBrowser" version="23.4.5" targetFramework="net48" />
  <package id="EO.WebBrowser.WinForm" version="23.4.5" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2210.55" targetFramework="net48" />
</packages>